# This file is part of the rust-for-it project.
#
# Copyright (c) 2023 Sebastian Pipping <sebastian@pipping.org>
# SPDX-License-Identifier: MIT

name: Build release binaries

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  release_binaries:
    name: Build release binaries
    strategy:
      fail-fast: false
      matrix:
        runs-on: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Build
        run: |-
          set -x
          rustc --version --verbose
          cargo build --release
          mv -v target/release/rust-for-it* .
          rm rust-for-it.d  # to not go into artifact zip file

      - name: Compress binary using UPX (Linux)
        if: runner.os == 'Linux'
        run: |-
          upx --best --no-lzma ./rust-for-it

      - name: Store binary
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: rust-for-it_${{ matrix.runs-on }}_${{ github.sha }}
          path: |
            LICENSE
            rust-for-it*
          if-no-files-found: error
